@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar {
  height: 6px;         
}

.custom-scroll::-webkit-scrollbar-track {
  background: #20c7ff;    
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #20c7ff;
  border-radius: 10px;
}

.custom-scroll {
  scrollbar-color: #20c7ff #20c7ff;
  scrollbar-width: thin;
}

.EmojiPickerReact {
  --epr-bg-color: #ffffff !important;
  --epr-category-label-bg-color: #ffffff !important;
  --epr-search-input-bg-color: #c5c3c3 !important;
  --epr-hover-bg-color: #20c7ff !important;
  --epr-text-color: #20c7ff !important;
}

::-webkit-scrollbar {
  display: none;
}


.body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}